@if (show()) {
    <div (click)="toggleSidebar()" class="bg-black/50 absolute inset-0 z-30  transition-opacity duration-300"></div>
}
<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform 
-translate-x-full sm:translate-x-0" aria-label="Sidebar"
[ngClass]="show() ? 'translate-x-0' : '-translate-x-full'">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <app-side-menu-header></app-side-menu-header>
      <app-side-menu-options></app-side-menu-options>
   </div>
</aside>
